.gameContainer {
  margin: auto;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(231, 173, 173);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stringsThatShowsStaff {
  display: inline-block;
  flex-direction: column;
}
.startResetButtons {
  width: 100%;
  text-align: center;
}
.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
