.letterButtons {
  width: 2em;
  height: 2em;
  align-items: center;
}
.bigButton {
  width: 130px;
  align-items: center;
}
.letterButtons:hover {
  color: beige;
  background-color: black;
}
.bigButton:hover {
  color: beige;
  background-color: black;
}

p {
  margin-bottom: 20px;
}
