.letterButtons {
  width: 2em;
  border-radius: 5px;
  align-items: center;
}
.bigbutton {
  width: 40%;
  align-items: center;
}
.letterButtons:hover {
  color: beige;
  background-color: black;
}
.bigbutton:hover {
  color: beige;
  background-color: black;
}

p {
  margin-bottom: 20px;
}
