
.letterButtons {
    width: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
  
}
.letterButtons:hover {
    color: beige;
    background-color: black;
}

p{
    margin-bottom: 20px;
}