.gameContainer {
  margin: auto;
  padding-left: 20px;
  width: 90vw;
  border: 1px solid black;
  height: 70vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 30px;
  align-items: center;
}
h3 {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  margin: 20px auto;
}
p {
  margin: 2px 0;
}
.word {
  width: 400px;
  margin-bottom: 3px;
  align-self: start;
}
.stringsThatShowsStaff {
  display: inline-block;
  flex-direction: column;
}
.startResetButtons {
  margin: 20px auto;
  width: 90%;
  text-align: center;
}
.buttonsContainer {
  margin: 20px 0;
  width: 150px;
  min-width: 100px;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.status {
  height: 40px;
  text-align: center;
  fontsize: 22px;
  margintop: 0.75rem;
  fontweight: 600;
}
